.Door {
  text-align: center;
  margin: 16px 0;
  padding: 16px 0;
}

.Door-open {
  background: var(--success-color);
  color: var(--white-text-color);
}

.Door-close {
  background: var(--error-color);
}
