.Borrow-container {
  display: flex;
  flex-direction: column;
}

.User {
  margin: 16px;
}

.User header {
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--primary-color);
}

.BorrowedBook {
  margin: 16px;
}

.BorrowedBook span {
  color: var(--secondary-text-color);
}

.material-icons {
  float: left;
  padding: 4px;
  padding-right: 8px;
  color: var(--primary-text-color) !important;
  font-size: 32px !important;
}

.BorrowedBook .material-icons {
    padding: 8px;
}
