.ShelfContainer {
  border: 2px solid var(--primary-color-light);
  box-shadow: inset -2px -2px var(--primary-color-light);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}
