:root {
  --primary-color: #f57f17;
  --primary-color-light: #ffb04c;
  --primary-color-dark: #bb5000;
  --secondary-color-dark: #0277bd;
  --seconadry-color-light: #58a5f0;
  --secondary-color-dark: #004c8c;
  --error-color: #f44335;
  --success-color: #7cb342;
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --white-text-color: rgba(255, 255, 255, 0.87);
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: row;
  color: var(--primary-text-color);
}

.App-main {
  flex: 2;
}

.App-aside {
  flex: 1;
  margin: 0 16px;
  padding: 0 16px;
}

.App-navbar {
  padding: 16px;
}

.App-main {
  margin: 0 16px;
  padding: 0 16px;
}

.App-navbar {
  background-color: var(--primary-color);
  color: var(--white-text-color);
}

.ShelfContainer {
  min-height: 128px;
}

.Top-title {
  color: var(--primary-text-color);
  margin: 16px;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Top-title .material-icons {
    float: none;
}

.Borrow-title {
  margin-top: 64px;
}
