.Book {
  padding: 4px;
  margin: 4px;
  flex: 1;
  font-size: 1.1vw;
  max-width: 33%;
}

.Book b {
  color: #2c2b2b;
  padding-right: 8px;
}

.Book span {
  color: #464343;
}

.Book-borrowed {
  /*opacity: 0.3;*/
}

.Book-borrowed-title {
  color: tomato;
}

.Book-bad {
    /*border: 4px solid red;*/
}

.Book-msg {
    display: none;
    color: var(--error-color);
    font-weight: bold;
    clear: both;
}

.Book-bad .Book-msg {
    display: block;
}
